/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--gnome-off-black);
}

/* Variables */

:root {
    /* Fonts */
    
    --gnome-body-font: 'Noto Sans', sans-serif;

    /* Colors */

    --gnome-blue: #1c71d8;
    --gnome-off-black: #241f31;
    --gnome-off-black-rgb: 36, 31, 49;
    --gnome-off-white: #f6f5f4;
}

/* General */

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--gnome-body-font);
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.header__title, .header__subtitle    {
    font-weight: 700;
}

.header__title {
    font-size: 2.6rem;
}

.header__subtitle {
    font-size: 2.2rem;
}

.add-btn {
    padding: 1.4rem;
    font-size: 1.4rem;
    border: none;
    border: 1px var(--gnome-off-black) solid;
    border-radius: .5rem;
    cursor: pointer;
    background-color: var(--gnome-blue);
    color: var(--gnome-off-white);
}

/* Bookshelf */ 

.bookshelf {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    grid-auto-rows: 400px;
    gap: 4rem;
    margin: 2rem;
}

.book {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
}

.book__title {
    font-size: 2.4rem;
}

.book__author {
    font-size: 1.8rem;
}

.book__pages {
    font-size: 1.8rem;  
}

.book__read {
    font-size: 1.6rem;
}

.delete-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    height: 2.4rem;
    width: 2.4rem;
}

.empty__bookshelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.empty__title {
    font-size: 2.8rem;
}

.empty__prompt {
    font-size: 2rem;
}

/* Footer */

.footer {
    flex: 0 1 10%;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
}

.copyright__date {
    font-size: 1.6rem;
}

.copyright__statement {
    font-size: 1.6rem;
}

/* Modal Window */

.modal {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 10%);
    background-size: cover;
    backdrop-filter: blur(2px);
}

.modal__title {
    font-size: 1.8rem;
}

.modal__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 45%;
    border-radius: 5rem;
    border: 2px black solid;
    background-color: var(--gnome-off-white);
}

.modal__section {
    display: flex;
    flex-direction: column;
}

.modal__section label {
    font-size: 1.4rem;
}

.modal__section input {
    height: 1.6rem;
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
}

.modal__read {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.modal__read input {
    height: 1.2rem;
    width: 1.2rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 60%;
    width: 60%;
}

.cancel-btn {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
}

.submit-btn {
    height: 4rem;
    width: 10rem;
    align-self: flex-end;
    border-radius: 1rem;
    font-size: 1.4rem;
    background-color: var(--gnome-blue);
    color: var(--gnome-off-white);
}

.modal__read {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
}